button:disabled {
    background: #dddddd;
}
.btn {
    border: none;
    border-radius: 4px;
    text-align: center;
    font-size: 10px;
    cursor: pointer;
    height: 22px;
    font-weight: bolder;
}