.about {
    display: flex;
    padding: 10px;
    box-shadow: black;
    margin-top: 100px;
}
.about img {
    border-radius: 5%;
}
@media(min-width: 952px) {
    
    .about {
        width: 900px;
        flex-direction: row;
       flex-wrap: nowrap;
       background-color: none;
       margin-left: 10%;
    }
      .about img {
        width: 300px;
        display: block;
        border-radius: 5%;
    }
    .about .content {
        width: 1000px;
        font-size: 23px;
        margin-left: 5%;
    }

  }
  
  @media(max-width: 858px) {
    .about {
        width: 300px;
        flex-direction: column;
       flex-wrap: nowrap;
       background-color: none;
    }
      .about img {
        width: 200px;
        display: block;
        border-radius: 50%;
        margin: auto;;
    }
  }