.card {
    margin: auto;
    width: 600px;
    box-shadow: 5px 5px 5px 5px #eee;
    font-size: 15px;
    margin-top: 3%;
    padding: 0 0 1% 1%;
    cursor: pointer;
}
.card:hover{
    transition: 0.5s
}
.title {
    font-size: 2em;
    line-height: 2em;
    font-weight: bolder;
    color: #FF69B4
}
.subText {
    margin-top: 5%;
}

@media(min-width: 853px) {
    
}

@media(max-width: 852px) {
    
}