.card {
    font-family: 'Lobster Two', cursive;
    margin: auto;
    width: 80%;
    box-shadow: 5px 5px 5px 5px #eee;
    font-size: 15px;
    margin-top: 3%;
    padding: 0 0 1% 1%;
    cursor: pointer;
    &__long{
        position: relative;
        overflow: hidden;
    }
    .readMore {
        margin: auto;
        width: 10%;
    }
    &__subText {
        white-space: nowrap; 
        height: 70px; 
        overflow: hidden;
        text-overflow: "----"; 
        margin: auto;
        width: 80%;
        padding: 15px;
    
    @media(min-width: 853px) {
             font-size: 15px;
             height: 120px;
             p {
                 padding: none;
             }
     }
     
     @media(max-width: 852px) {
             font-size: 15px;
             p {
                padding: none;
            }
     }
    }
    
}


.card:hover{
    transition: 0.8s;
    background-color: #eee;
}
.title {
    font-size: 2em;
    line-height: 2em;
    font-weight: bolder;
    color:  #265573;
    text-align: center;
}
.datePublished {
    text-align: center;
    font-size: 12px;
}


@media(min-width: 853px) {
   .blogDetail > p {
        font-size: 15px;
    }
}

@media(max-width: 852px) {
    .blogDetail > p {
        font-size: 15px;
    }
}

