.card {
    font-family: 'Lobster Two', cursive;
    margin: auto;
    width: 80%;
    box-shadow: 5px 5px 5px 5px #eee;
    font-size: 15px;
    margin-top: 3%;
    padding: 0 0 1% 1%;
    cursor: pointer;
    &__long{
        max-height: 220px;
        min-height: 180px;
        position: relative;
        overflow: hidden;
    }
    .readMore {
        margin: auto;
        width: 10%;
    }
    
    
}


.card:hover{
    transition: 0.8s;
    background-color: #eee;
}
.title {
    font-size: 2em;
    line-height: 2em;
    font-weight: bolder;
    color:  #265573;
    text-align: center;
}
.datePublished {
    text-align: center;
    font-size: 12px;
}
.subText {
    white-space: nowrap; 
    height: 70px; 
    overflow: hidden;
    text-overflow: "----"; 
    margin: auto;
    width: 65vw;
}

@media(min-width: 853px) {
    
}

@media(max-width: 852px) {
    
}

